%p The January floods through Queensland have crippled industry throughout the state. With many small/medium business losing valuable equipment getting back up and running is going to be an ominous and expensive task for most.
%p The Queensland Flood IT relief team is a group of volunteers who are collecting spare PC's, printers, servers, from companies all across Australia. We will then service, and rebuild them with an aim to send them to people in Queensland who need the support to get started.
%p If you are a business, sole trader, school, or any other organisation that has lost IT equipment in the flood, please register you interest below and let us know what you need. We will be in touch shortly.
%p To allow us to succeed we firstly need your help.
%p 
	If you can donate any of the following please do so ASAP to allow our team time to process the donations: 
	%ul
		%li Computers - PC, Macs, Laptops, etc.
		%li Servers or networking equipment
		%li Spare parts - cases, hard drives, memory, cables, etc.
		%li Printers
		%li Phones/PBX system
		%li Tools (to allow us to do our job)
		%li Software
		%li Anything else you think will help.
		
-#
	Equipment can be sent to:
	%br/
	%strong QLD IT Relief Fund c/o Datacom,  Level 7, 120 Sussex St, Sydney, NSW 
%p 
	If you want to contact us please do so via
	%a{:href => "mailto:QLDITRelief@hotmail.com", :title => "Contact us"} our email address
	or by phone:
	%strong (02) 8003 7213.
%p We need transport! If you could help us get our refurbished equipment from NSW to the people who need it please get in touch ASAP! 
%p We also need your time. If you work in IT, and can help our team clean/repair/rebuild equipment let us know. Any time you can spare is greatly appreciated. 
%p 
	%strong 
		Please note: The IT Relief Fund will not accept cash or financial support, 
		please donate this directly to the 
		%a{:href => "http://www.qld.gov.au/floods/donate.html", :title => "QLD Relief fund"} QLD Relief fund
		, but we will greatly appreciate any other support for our cause. 

