*
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    color: #fff;
    background: #000;
}

#content
{
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

h2, h3, p, div { text-align: left; }